.screen-1 {
    background-image: url(../img/api/characters.png);
}

.screen-2 {
    background-image: url(../img/api/episodes.png);
}

.screen-3 {
    background-image: url(../img/api/quotes.png);
}
