.screen-1 {
    background-image: url(../img/canyoning/preÌsentation.png);
}

.screen-2 {
    background-image: url(../img/canyoning/dispos.png);
}

.screen-3 {
    background-image: url(../img/canyoning/dashboard.png);
}

.screen-4 {
    background-image: url(../img/canyoning/events.png);
}
