.screen-1 {
    background-image: url(../img/e_commerce/accueil.jpg);
}

.screen-2 {
    background-image: url(../img/e_commerce/boutique.png);
}

.screen-3 {
    background-image: url(../img/e_commerce/panier.png);
}

.screen-3 {
    background-image: url(../img/e_commerce/panier.png);
}