.content{
    color: #fcbf55;
}


.screen-1 {
    background-image: url(../img/e_commerce/accueil.png);
    

}

.screen-2 {
    background-image: url(../img/e_commerce/boutique.png);
  
}

.screen-3 {
    background-image: url(../img/e_commerce/panier.png);
   
}

.screen{
    background-size: cover;
    background-position: center;
    width: 25vw;
    height: 30vh;
    border-radius: 5px;
    box-shadow: 2px 10px 20px -7px #000000;
}

.container-button{
    display: flex;
    justify-content: center;
    margin: 4vh 0 4vh 0;
}

.left{
    margin-right: 2vw;
}

h3{
    margin-top: 10vh;
    font-size: 1.5rem;
}

.border::after{
    content: '';
    display: block;
    border-bottom: solid 2px #fcbf55 ;
    margin: 10vh auto 0 auto;
    width: 30vw;
}