.screen-1 {
    background-image: url(../img/market_place/products.png);
}

.screen-2 {
    background-image: url(../img/market_place/crud.png);
}

.screen-3 {
    background-image: url(../img/market_place/update.png);
}
