@media screen and (max-width: 1200px) {
  #B {
    margin-top: 4vh;
    font-size: 10vh;
  }

  #O {
    margin-top: 4vh;
    font-size: 8vh;
  }

  #N {
    margin-top: 4vh;
    font-size: 8vh;
  }

  #J {
    margin-top: 4vh;
    font-size: 8vh;
  }

  #Oo {
    margin-top: 4vh;
    font-size: 8vh;
  }

  #U {
    margin-top: 4vh;
    font-size: 8vh;
  }

  #R {
    margin-top: 4vh;
    font-size: 8vh;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

  }

  .intro-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fcbf55;
    padding-left: 0px;
    height: 0px;
    margin-top: 10vh;
  }

  .intro-2 {
    display: flex;
    color: #fcbf55;
    text-align: center;
    padding-left: 2vw;
    margin: 8vh 0 4vh 0;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  #enter {
    /* font-size: 1.5em; */
    margin-top: 10vh;
  }

  h3 {
    font-size: 1.5em;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 10vh 0 2vh 0;
    background-color: #fcbf55;
    padding: 3vh 0 6vh 0;
    border-radius: 5px;
  }

  #skills {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .hard-skills {
    width: 80vw;
    margin-bottom: 8vh;
  }

  .soft-skills {
    width: 80vw;
  }

  .pipe {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #menu li {
    font-size: 1.4em;
  }

  h1 {
    text-align: center;
  }

  #work {
    margin-top: 18vh;
  }

  .intro-2 {
    display: flex;
    color: #fcbf55;
    font-size: 0.9em;
    text-align: start;
    padding-left: 6vw;
    margin: 8vh 0 4vh 0;
  }

  .nav-inverse {
    margin-bottom: 2vh;

  }

  #enter {
    font-size: 1.2em;
    margin: 2vh auto 0 auto;
  }

  .box,
  .screen {
    width: 340px;
    height: 220px;
    margin: 20px auto;
  }

  h2 {
    font-size: 1.8em;
  }

  .border {
    text-align: start;
  }

  .container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh 0 4vh 0;
  }

  .overall {
    width: 70vw;
    margin: 0.4vh auto;
  }

  .name {
    width: 120px;
  }


}