.screen-1 {
    background-image: url(../img/Prise_de_contact/landing.jpg);
}

.screen-2 {
    background-image: url(../img/Prise_de_contact/formulaire.png);
}

.screen-3 {
    background-image: url(../img/Prise_de_contact/design.png);
}

.screen-4 {
    background-image: url(../img/Prise_de_contact/habitacle.png);
}