.screen-1 {
    background-image: url(../img/theme/accueil.png);
}

.screen-2 {
    background-image: url(../img/theme/actus.png);
}

.screen-3 {
    background-image: url(../img/theme/contact.png);
}
